.App {
  height: 100%;
  width: 100%;
 
}
.app-wrapper{
  height: 100%;
  width: 100%;
  background-image: url('media/mountains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /*background-position: center; */
}